@{
    ViewData["Title"] = "News";
}

<div class="container news-container">
    <div class="row flex-sm-row-reverse">
        <div class="col-lg-4 col-md-12 col-sm-12 sub-menu">
            <div class="hide-small">
                <h6 class="sub-menu-h6">In this issue of Re:News</h6>
                <a class="sub-menu-a styled-link" href="#story-1">
                    <img class="img-fluid" src="~/images/story-one.jpg">
                    New location. New home. New guests!
                </a>
                <p class="excerpt">It’s been seven months since we moved into our new drop-in and residence and training centers, and we love the new spaces!</p><br>
                <a class="sub-menu-a styled-link" href="#story-2">
                    <img class="img-fluid" src="~/images/story-two.jpg">
                    Moving (and motoring?) forward
                </a>
                <p class="excerpt">As you read in our cover story, we love our new place. </p><br>
                <a class="sub-menu-a styled-link" href="#story-3">
                    <img class="img-fluid" src="~/images/story-three.jpg">
                    Printing with purpose
                </a>
                <p class="excerpt">Your newsletter was silkscreened!</p><br>
                <a class="sub-menu-a styled-link" href="#story-4">
                    <img class="img-fluid" src="~/images/story-four.jpg">
                    A familiar face returns to Renewal
                </a>
                <p class="excerpt">It’s amazing to see how far a few years can take someone.</p><br>
                <a class="sub-menu-a styled-link" href="#story-5">
                    <img class="img-fluid" src="~/images/story-five.jpg">
                    Renewal is thriving because of you
                </a>
                <p class="excerpt">Every day I look around our new home and am amazed at the great things happening.</p><br>
                <div class="browse">
                    <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                    <ul>
                        <li><a class="styled-link" href="/">Issue 7: Fall 2016</a></li>
                        <li><a class="styled-link" href="/">Issue 6: Spring 2016</a></li>
                        <li><a class="styled-link" href="/">Issue 5: Fall 2015</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div id="story-1">
                <h3>New location. New home. New guests!</h3>
                <div class="news-subheader mb-4">Because of your help, we’re thriving in our new location</div>
                <img class="img-fluid story-img" src="~/images/story-one.jpg">
                <figcaption class="figure-caption caption">Thanks to you we have a new drop-in center and that has put a smile on Granny Lu’s face!</figcaption>
                <p class="clear">It’s been seven months since we moved into our new drop-in and residence and training centers, and we love the new spaces! Thank you for supporting us through this transition. Your gifts have allowed us to establish a new home and to serve more people in need.</p>
                <p>After our landlord passed away and we discovered we would have to move, it took almost six months of searching to find a spot that met all our needs. Our new location is a little farther from the city center, but in every other way it is definitely an upgrade. We now have more room to grow and are able to split our work between the two centers, which are within biking distance of each other. For the residence and training center, this new arrangement means we can give trainees more privacy, a deeper sense of home, and with 500 square meters (5,400 square feet), more space to develop their work skills.</p>
                <blockquote>
                    They take care of everyone, it feels like home<br><italic>-Granny Lu</italic>
                </blockquote>
                <p>At 125 square meters (1,300 square feet), the new drop-in center is also up and running, and we’re seeing friends both new and old. Many of our previous guests take the metro from the city center to visit, and we’re also reaching a new group of people in need. Granny Lu is one of our favorite new guests, and she always comes with a smile on her face. Originally from Shandong Province, Granny Lu is like many older women on the streets of Shanghai who survive by collecting bottles and selling them to recyclers. As you can imagine, it’s not an easy life. We’re thankful Granny Lu has found us, and she often tells us how thankful she is for the Renewal Center.</p>
                <p>“The environment is really nice, very clean, and the food is delicious!” said Granny Lu. “They take care of everyone. It feels like home.”</p>
                <p>We can’t think of a higher compliment! Her words also remind us that it’s because of your generosity that we can create a homey place for men and women living on the streets of Shanghai. Thank you for believing in our work and making it possible.</p>

            </div>
            <div class="hide-large small-sub mb-4">
                <h6 class="sub-menu-h6 mb-4">In this issue of Re:News</h6>
                <a class="sub-menu-a styled-link" href="#story-1">New location. New home. New guests!</a>
                <p class="excerpt">It’s been seven months since we moved into our new drop-in and residence and training centers, and we love the new spaces!</p>
                <a class="sub-menu-a styled-link" href="#story-2">Moving (and motoring?) forward</a>
                <p class="excerpt">As you read in our cover story, we love our new place. </p>
                <a class="sub-menu-a styled-link" href="#story-3">Printing with purpose</a>
                <p class="excerpt">Your newsletter was silkscreened!</p>
                <a class="sub-menu-a styled-link" href="#story-4">A familiar face returns to Renewal</a>
                <p class="excerpt">It’s amazing to see how far a few years can take someone.</p>
                <a class="sub-menu-a styled-link" href="#story-5">Renewal is thriving because of you</a>
                <p class="excerpt">Every day I look around our new home and am amazed at the great things happening.</p>
            </div>
            <div id="story-2">
                <h2>Moving (and motoring?) forward</h2>
                <div class="news-subheader mb-4">With your support we are building a better Renewal Center</div>
                <img class="img-fluid story-img" src="~/images/story-two.jpg" />
                <p>As you read in our cover story, we love our new place. But it’s also an adjustment. Being outside of the city center means some of the older and disabled people who rely on our services have difficulty dropping into the drop-in center. To make sure they are taken care of, we would like to buy a van to transport them to and from the Renewal Center. We’re also looking to make improvements to our new locations so we can get the most out of each space. At the drop-in center we need to trade the portable shower with a permanent one that is more durable and safe. At the residence and training center we want to add more beds and increase staff support so we can welcome more trainees. None of this can happen without the support you provide. I hope you know how much we value your partnership.</p>
            </div>
            <div id="story-3">
                <h2>Printing with purpose</h2>
                <div class="news-subheader mb-4">With your generosity we can give trainees new work experiences</div>
                <img class="img-fluid story-img" src="~/images/story-three.jpg" />
                <figcaption class="figure-caption caption">Photo caption: Ai Zhiwen teaches our trainees the specialized skill of silkscreening. Stressing attention to detail, Ai Zhiwen helped our team print an impressive 500 newsletters!</figcaption>
                <p class="clear">Your newsletter was silkscreened! We’re always looking for new opportunities for our trainees to learn valuable job skills, and we’re always looking for more meaningful ways to tell our stories to donors. So, recently the team took a trip to ShangArtelier Studio to learn how to silkscreen. Our trainees and staff carefully printed the deep red ink on this newsletter.</p>
                <p>Ai Zhiwen, our program graduate and trainer, is in charge of the effort. Originally from Jiangxi Province, Ai Zhiwen has worked at our partners, Pure & Whole and Element Fresh, and he also helps with our accounting and computers. These opportunities taught him to pay attention to detail in his work, and that’s something he’s passing on to our trainees. What better way than with the very precise skill of silkscreening!</p>
                <blockquote>It’s not easy to get the silkscreen adjusted just right. It will be a tough skill for our trainees to learn. Hanson always says there is no chabuduo (almost good enough). We teach with high standards here so our trainees will succeed in their jobs.”</blockquote>
                <p>Ai Zhiwen and the team printed 500 newsletters, and they hope to do it again next quarter.</p>
            </div>
            <div id="story-4">
                <h2>A familiar face returns to Renewal</h2>
                <div class="news-subheader">From trainee to employee, one man finds his way back</div>
                <p class="mb4"><em>By Hanson Ye, Operations Director</em></p>
                <img class="img-fluid story-img" src="~/images/story-four.jpg" />
                <figcaption class="figure-caption caption">Photo caption: Phil helps our long-time guest Wang Wei choose a new pair of pants. “Whatever I need I can find here,” said Wang Wei.</figcaption>
                <p class="clear">It’s amazing to see how far a few years can take someone. I want to tell you a story about Phil. After graduating from our program, he worked as a server at Element Fresh, a restaurant we partner with, for almost four years, reaching the level of trainer. He had to resign to take care of an issue at home, but we stayed in contact. When he returned to Shanghai I asked him to work with us. In fact, Phil now runs operations at the drop-in center, and he’s doing an excellent job. Taking the high standards he learned at Element Fresh, Phil is creating a welcoming and well-organized environment at the Renewal Center. He’s meticulous and takes his work seriously.</p>
                <blockquote>“Whatever I need I can find here,” Wang Wei said.</blockquote>
                <p>Phil orders his day like this: “First thing, I check all the washed clothing to make sure it’s clean and dry. Then I make sure everything is working, like the hot water heater, and make sure we have enough razors, toothbrushes and clothing to make it through the day.”</p>
                <p>He remembers what it was like to wander the streets, not knowing when he would next eat a fresh meal or take a hot shower. So, Phil always wants to make sure guests leave the Renewal Center feeling better than when they came in.</p>
                <p>“The most meaningful thing about the job is seeing people come in dirty and leave clean. They come in hungry, and they leave full. They come in depressed and leave with hope,” said Phil.</p>
                <p>Naturally, our guests respond very well to Phil. He recently helped Wang Wei, one of our long-time guests, choose some new clothes at the center. Wang Wei told me how much he appreciated Phil’s help and being able to come to the drop-in center.</p>
                <p>“Whatever I need I can find here,” Wang Wei said.</p>
                <p>With Phil’s help, we’re now able to open the drop-in center six days a week, with meals offered every day. It’s because of your support that we’re able to see hard workers like Phil come full circle. Thank you for giving people like Phil the chance to grow and succeed.</p>

            </div>
            <div id="story-5">
                <h2>Renewal is thriving because of you</h2>
                <div class="news-subheader">Your gifts give homeless people a way to leave the streets</div>
                <p class="mb4"><em>By Jimmy McWhinney</em></p>
                <img class="img-fluid story-img" src="~/images/story-five.jpg" />
                <figcaption class="figure-caption caption">Photo caption: Fan Junjie is thankful for your donations that allow him to eat a hot meal and get a fresh change of clothes. We rely on your gifts to keep the washers and dryers going!</figcaption>
                <p class="clear">Every day I look around our new home and am amazed at the great things happening. We now have more space than ever before and are able to provide better service and care to our guests.</p>
                <p>All of this is possible because of your generous giving.</p>
                <p>Instead of three days a week, we can now open the drop-in center six days a week and offer showers and meals each of those days. Our guests have been so happy to find that our door is almost always open.</p>
                <p>Fan Junjie, a homeless friend from Shanxi Province, told me how thankful he is for even the simple luxury of having a fresh change of clothes. You can imagine how hard it is to keep clean on the streets, and how restorative it is to wash away all the dirt and grime. “You can wash your clothes, and you get your own clothes back,” Junjie marveled.</p>
                <p>Our guests, like Junjie, are grateful to come to the Renewal Center, but they often can’t quite wrap their minds around why strangers would help them and ask for nothing in return. I know that you understand the need, and you know what it is that drives us to help Shanghai’s homeless. But for us to continue to provide these services six days a week, we need your help.</p>
                <p>The extra hours we are open mean more expenses as we prepare more meals and use more utilities for showers and laundry. We are also using more resources for the life-changing services we provide, from helping guests get proper medical care to helping them develop the skills necessary to work in a quickly developing city.</p>
                <p>None of this is possible without you, and please know how grateful I am that you’ve been such a faithful partner in this work with us. I hope you will continue your support of our work and give today.</p>
            </div>
            <div class="browse hide-large">
                <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                <ul>
                    <li><a class="styled-link" href="/">Issue 7: Fall 2016</a></li>
                    <li><a class="styled-link" href="/">Issue 6: Spring 2016</a></li>
                    <li><a class="styled-link" href="/">Issue 5: Fall 2015</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
