@{
    ViewData["Title"] = "News";
}

<div class="container news-container">
    <div class="row flex-sm-row-reverse">
        <div class="col-lg-4 col-md-12 col-sm-12 sub-menu">
            <div class="hide-small">
                <h6 class="sub-menu-h6">In this issue of Re:news</h6>
                <a class="sub-menu-a styled-link" href="#story-3">
                    <img class="img-fluid" src="~/images/story-three.jpg">
                    Printing with purpose
                </a>
                <p class="excerpt">Your newsletter was silkscreened!</p><br>
                <a class="sub-menu-a styled-link" href="#story-4">
                    <img class="img-fluid" src="~/images/story-four.jpg">
                    A familiar face returns to Renewal
                </a>
                <p class="excerpt">It’s amazing to see how far a few years can take someone.</p><br>
                <a class="sub-menu-a styled-link" href="#story-5">
                    <img class="img-fluid" src="~/images/story-five.jpg">
                    Renewal is thriving because of you
                </a>
                <p class="excerpt">Every day I look around our new home and am amazed at the great things happening.</p><br>
                <div class="browse">
                    <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                    <ul>
                        <li><a class="styled-link" href="/">Issue 7: Fall 2016</a></li>
                        <li><a class="styled-link" href="/">Issue 6: Spring 2016</a></li>
                        <li><a class="styled-link" href="/">Issue 5: Fall 2015</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12 col-sm-12">
            <div id="story-1">
                <h3>New location. New home. New guests!</h3>
                <div class="news-subheader mb-4">Because of your help, we’re thriving in our new location</div>
                <img class="img-fluid story-img" src="~/images/story-one.jpg">
                <figcaption class="figure-caption caption">Thanks to you we have a new drop-in center and that has put a smile on Granny Lu’s face!</figcaption>
                <p class="clear">It’s been seven months since we moved into our new drop-in and residence and training centers, and we love the new spaces! Thank you for supporting us through this transition. Your gifts have allowed us to establish a new home and to serve more people in need.</p>
                <p>After our landlord passed away and we discovered we would have to move, it took almost six months of searching to find a spot that met all our needs. Our new location is a little farther from the city center, but in every other way it is definitely an upgrade. We now have more room to grow and are able to split our work between the two centers, which are within biking distance of each other. For the residence and training center, this new arrangement means we can give trainees more privacy, a deeper sense of home, and with 500 square meters (5,400 square feet), more space to develop their work skills.</p>
                <blockquote>
                    They take care of everyone, it feels like home<br><italic>-Granny Lu</italic>
                </blockquote>
                <p>At 125 square meters (1,300 square feet), the new drop-in center is also up and running, and we’re seeing friends both new and old. Many of our previous guests take the metro from the city center to visit, and we’re also reaching a new group of people in need. Granny Lu is one of our favorite new guests, and she always comes with a smile on her face. Originally from Shandong Province, Granny Lu is like many older women on the streets of Shanghai who survive by collecting bottles and selling them to recyclers. As you can imagine, it’s not an easy life. We’re thankful Granny Lu has found us, and she often tells us how thankful she is for the Renewal Center.</p>
                <p>“The environment is really nice, very clean, and the food is delicious!” said Granny Lu. “They take care of everyone. It feels like home.”</p>
                <p>We can’t think of a higher compliment! Her words also remind us that it’s because of your generosity that we can create a homey place for men and women living on the streets of Shanghai. Thank you for believing in our work and making it possible.</p>
            </div>
            <div class="hide-large small-sub mb-4">
                <h6 class="sub-menu-h6 mb-4">In this issue of Re:news</h6>
                <p class="excerpt">It’s been seven months since we moved into our new drop-in and residence and training centers, and we love the new spaces!</p>
                <a class="sub-menu-a styled-link" href="#story-2">Moving (and motoring?) forward</a>
                <p class="excerpt">As you read in our cover story, we love our new place. </p>
                <a class="sub-menu-a styled-link" href="#story-3">Printing with purpose</a>
                <p class="excerpt">Your newsletter was silkscreened!</p>
                <a class="sub-menu-a styled-link" href="#story-4">A familiar face returns to Renewal</a>
                <p class="excerpt">It’s amazing to see how far a few years can take someone.</p>
                <a class="sub-menu-a styled-link" href="#story-5">Renewal is thriving because of you</a>
                <p class="excerpt">Every day I look around our new home and am amazed at the great things happening.</p>
            </div>
            <div id="story-5">
                <h2>Renewal is thriving because of you</h2>
                <div class="news-subheader">Your gifts give homeless people a way to leave the streets</div>
                <p class="mb4"><em>By Jimmy McWhinney</em></p>
                <img class="img-fluid story-img" src="~/images/story-five.jpg" />
                <figcaption class="figure-caption caption">Photo caption: Fan Junjie is thankful for your donations that allow him to eat a hot meal and get a fresh change of clothes. We rely on your gifts to keep the washers and dryers going!</figcaption>
                <p class="clear">Every day I look around our new home and am amazed at the great things happening. We now have more space than ever before and are able to provide better service and care to our guests.</p>
                <p>All of this is possible because of your generous giving.</p>
                <p>Instead of three days a week, we can now open the drop-in center six days a week and offer showers and meals each of those days. Our guests have been so happy to find that our door is almost always open.</p>
                <p>Fan Junjie, a homeless friend from Shanxi Province, told me how thankful he is for even the simple luxury of having a fresh change of clothes. You can imagine how hard it is to keep clean on the streets, and how restorative it is to wash away all the dirt and grime. “You can wash your clothes, and you get your own clothes back,” Junjie marveled.</p>
                <p>Our guests, like Junjie, are grateful to come to the Renewal Center, but they often can’t quite wrap their minds around why strangers would help them and ask for nothing in return. I know that you understand the need, and you know what it is that drives us to help Shanghai’s homeless. But for us to continue to provide these services six days a week, we need your help.</p>
                <p>The extra hours we are open mean more expenses as we prepare more meals and use more utilities for showers and laundry. We are also using more resources for the life-changing services we provide, from helping guests get proper medical care to helping them develop the skills necessary to work in a quickly developing city.</p>
                <p>None of this is possible without you, and please know how grateful I am that you’ve been such a faithful partner in this work with us. I hope you will continue your support of our work and give today.</p>
            </div>
            <div class="browse hide-large">
                <h6 class="sub-menu-h6">Browse our previous issues...</h6>
                <ul>
                    <li><a class="styled-link" href="/">Issue 7: Fall 2016</a></li>
                    <li><a class="styled-link" href="/">Issue 6: Spring 2016</a></li>
                    <li><a class="styled-link" href="/">Issue 5: Fall 2015</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
