@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    @await Html.PartialAsync("_HeadPartial")
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>
<body>
    <nav class="navbar navbar-toggleable-md navbar-light" id="mainNav">
        <div class="container">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand hide-small" href="/"><img src="~/images/renewal-logo.png" data-at2x="~/images/renewal-logo@2x.png" width="100" /></a>
            <a class="navbar-brand hide-large red" href="/">RENEWAL</a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav left">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="News" asp-action="Index">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="News" asp-action="Index">Program</a>
                    </li>
                </ul>
                @await Html.PartialAsync("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container pad-top">
        @RenderBody()
    </div>
    @await Html.PartialAsync("_FooterPartial")
    @await Html.PartialAsync("_BootstrapScriptsPartial")
    @RenderSection("Scripts", required: false)
</body>
</html>
